.main {
  max-width: 800px;
  margin: 50px auto;
}

.modul {
  width: 700px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #dbcece;
  -webkit-box-shadow: -9px 9px 29px 0px rgba(206, 145, 132, 0.2);
          box-shadow: -9px 9px 29px 0px rgba(206, 145, 132, 0.2);
}

.modul-one,
.modul-two {
  display: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  width: 200px;
  height: 55px;
  background: #c75555;
  font-weight: 600;
}

.timer-input {
  width: 142px;
  height: 35px;
  text-align: center;
  font-size: 31px;
}
